/* General */

/* header */
.portfolio-header {
    position: relative;
    background-image: url(/static/images/header-bg.jpg);
    background-size: cover;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    justify-content: center;
}

.mdl-layout__header.is-compact {
    max-height: 109px;
}

.mdl-layout__title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: rgb(63,81,181);
}

.portfolio-logo-row {
    min-height: 200px;
}

.is-compact .portfolio-logo-row {
    min-height: auto;
}

/* header logo */
.portfolio-logo {
    background: url(/static/images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.is-compact .portfolio-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

/* header title */
.is-compact .mdl-layout__title span {
    display: none;
}

/* header navigation row */
.portfolio-navigation-row {
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    flex: 1;
    line-height: 42px;
    color: black;
}

.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgb(255,64,129);
    left: 15%;
}

/* Card layouts */
.portfolio-max-width {
    max-width: 1200px;
}

img.article-image {
    width: 100%;
    height: auto;
}


/* Cottage pages */

.cottages-intro-card {
    padding: 16px;
}

.cottages-access-card {
    background-color: rgb(63,81,181);
}

.cottages-access-card > .mdl-card__title {
    color: white;
    align-items: start;
}

.cottages-access-card > .mdl-card__title > h4 {
    margin-top: 0;
}

.cottages-access-card > .mdl-card__actions > .mdl-button--colored {
    color: white;
}

.cottages-terms-card {
    background-color: rgb(255,64,129);
}

.cottages-terms-card > .mdl-card__title {
    color: white;
    align-items: start;
}

.cottages-terms-card > .mdl-card__title > h4 {
    margin-top: 0;
}

.cottages-terms-card > .mdl-card__actions > .mdl-button--colored {
    color: white;
}

.cottages-book-card {
    min-height: 256px;
}

.cottages-book-card > .mdl-card__supporting-text {
    color: #ffffff;
    background: url('/static/images/sunrise.jpg') center / cover;
    width: 100%;
}

.cottages-book-card > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.cottages-book-card > .mdl-card__actions > .material-icons {
    padding-right: 10px;
    color: rgb(63,81,181);
}

/* Modals for terms and access statements */
.terms-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 56px auto auto auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: 56px;
        opacity: 0;
        height: 0;
        width: 0;
    }
    to {
        top: 0; opacity: 1}
}

.modal-ok-button {
    float: right;
}


/* Availability pages */

.availability-contact-card {
    min-height: 0px;
}

.availability-card {
    min-width: 330px;
}

.availability-calendar-grid {
    margin: 0;
    justify-content: center;
    padding-bottom: 24px;
}

.availability-button-container {
    position: relative;
}

.availability-button {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.availability-calendar-container {
    min-width: 302px;
}

.availability-calendar-month-container {
    min-width: 268px;
    margin: 8px auto;
}

.availability-calendar-month-title {
    text-align: center;
}

.availability-calendar-month {
    margin: 0 auto;
    min-width: 268px;
}

.availability-calendar-day {
    width: 36px;
    height: 36px;
    position: relative;
    background-color: rgb(255,64,129);
    content: "";
    padding: 0;
    line-height: 0;
}

.availability-calendar-day.empty-day {
    background-color: transparent;
}

.availability-change {
    background-color: rgb(63,81,181);
}

.availability-full {
    background-color: rgb(63,81,181);
}

.availability-calendar-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    display: block;
    cursor: default;
    border: 18px solid transparent;
}

.availability-am .availability-calendar-text-container {
    border-right-color: rgb(63,81,181);
    border-bottom-color: rgb(63,81,181);
}

.availability-pm .availability-calendar-text-container {
    border-left-color: rgb(63,81,181);
    border-top-color: rgb(63,81,181);
}

.availability-calendar-text {
    z-index: 5;
    font-size: 12px;
    text-align: center;
    color: white;
    position: relative;
    pointer-events: none;
}

.availability-discount-tooltip {
    color: black;
    font-weight: 600;
}

/* key */
.availability-calendar-key {
    position: absolute;
    right: 16px;
}

.availability-calendar-day.key {
    width: 72px;
}


/* Local Info pages */
.localinfo-map-card {
    min-height: 350px;
    height: 100%;
    width: 100%;
}

.location-facilities-card {
    min-height: 256px;
    background: url('/static/images/signpost_1.jpg') center / cover;
}

.location-eating-out-card {
    min-height: 256px;
    background: url('/static/images/wave_1.jpg') center / cover;
}

.location-festivals-card {
    min-height: 256px;
    background: url('/static/images/sky_2.jpg') center / cover;
}

.location-info-provided-card {
    min-height: 256px;
    background: url('/static/images/sky_3.jpg') center / cover;
}
