{% extends "base.html" %}

{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="cottages-terms-card mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                Friday changeover<br>
                Sorry, no smoking in the Barn
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                id="cottageTermsButton">
                See all Terms and Conditions
            </a>
        </div>
    </div>
    <div class="cottages-book-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__supporting-text mdl-card--expand">
            <h2 class="mdl-card__title-text">Interested?</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                href="{% url 'availability' %}">
                Check Availability
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">event</i>
        </div>
    </div>
    <div class="cottages-access-card mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                Accommodation on one level<br>
                1 step to front door<br>
                Free Wi&ndash;Fi
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                id="cottageAccessButton">
                Read Full Access Statement
            </a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <!-- Kitchen -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_kitchen.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Kitchen & Dining Area</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            The dual-aspect open-plan area is light and airy with
            double-height ceilings, exposed roof timbers and skylights.<br>
            The kitchen is well-equipped with electric oven and hob,
            microwave, fridge/freezer, washing/drying machine and
            dishwasher. Tea towels are provided.<br>
            The dining area seats four adjacent to the kitchen.
            A high chair is available on request.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Lounge -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_lounge.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Lounge</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            The lounge has seating for four, coffee table,
            sideboard with games and tourist information,
            a well-stocked bookcase, 32” flat-screen TV, DVD
            and CD player.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <!-- Bedroom -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_bedroom.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bedroom</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            A generously-sized, dual aspect room with
            king-sized double bed, wardrobe and chest
            of drawers. Bed linen and towels are provided
            and are washed in chemical-free detergent. A
            travel cot (96x66cm) is available on request
            – linen is not provided for this.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <!-- En-suite -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_ensuite.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">En&ndash;suite</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            En-suite shower room. A good-sized room with
            low-level walk-in shower cubicle, washbasin,
            WC, electric shaver point and heated towel radiator.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Bedroom -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_bedroom2.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bedroom</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            Twin bedroom – with vaulted ceiling, exposed roof
            timbers, skylight and window onto courtyard. Bedside
            unit, chest of drawers and adjacent wardrobe. Bed
            linen and towels are provided.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Bathroom -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_bathroom.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bathroom</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            The family bathroom, next to the twin
            bedroom for easy access, has high ceilings
            and a skylight and contains a bath with shower
            over, washbasin, WC and heated towel radiator.
        </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <!-- Garden -->
        <div class="mdl-card__media">
            {% load static %}
            <img class="article-image" src="{% static 'images/the-barn_garden.jpg'%}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Garden</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            A door from the reception area leads to a
            well-fenced, secluded west-facing garden with
            seating area, garden furniture and rotary
            washing line.<br>
            To the front of the Barn, there is ample space
            for parking in the shared courtyard<br>
            NB: Adjacent to the Barn are the ruins of a
            traditional Welsh longhouse – care with
            children, please.
        </div>
    </div>

</div>
{% endblock %}

{% block modals %}
<div id="cottageTermsModal" class="terms-modal">
    <div class="modal-content mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Terms & Conditions</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            <b>Charges for electricity and oil</b> are included in the prices shown.
            <br><br>
            <b>Discounts available:</b> A discount of &pound;50 will be applied for parties
            of 1 or 2 people OR returning guests will be allowed a 10% reduction.
            <br><br>
            <b>Short Breaks:</b> Short breaks are available all year apart from school
            summer holidays. The minimum stay is for three nights; please contact us for
            prices. Discounts do not apply to short breaks.
            <br><br>
            <b>Payment:</b> Bookings are to be accompanied by a deposit of one third of the
            rent. The balance of the rent must be paid 56 days (8 weeks) before the
            commencement of the holiday. The full amount is payable if the arrival date is
            less than 56 days (8 weeks) from the date of booking.
            <br><br>
            <b>Cancellation:</b> In the event of cancellation, please advise us immediately.
            We will attempt to re&ndash;let the property and return your payment, less a
            handling charge of &pound;25.00. If we are unable to re&ndash;let all monies
            will be forfeited, so cancellation protection insurance is recommended. In the
            unlikely event of the property becoming unavailable due to circumstances outside
            our control, a complete refund will be paid.
            <br><br>
            <b>Dogs:</b> Two dogs are welcome FREE. There is a charge of &pound;15 per week
            for additional dogs. Dogs must not be allowed on furniture or beds and they must
            have their own bed/blankets to protect the floor coverings. They should be up to
            date with flea and worming treatments and owners are responsible for cleaning up
            any mess. Dogs must not be left alone in the property at any time.
            <br><br>
            <b>Arrival &amp; Departure:</b> The property is available from 4:00 p.m. on the
            day of arrival and should be vacated by 10:00 a.m. on the day of departure. These
            times can be varied for winter &#39;short breaks&#39;, just let us know what you
            would like.
            <br><br>
            <b>Bed linen &amp; Towels:</b> Beds are fully made up and ready for your arrival.
            Kitchen and bath towels are provided, but linen for the travel cot is not.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="modal-ok-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               href="{% url 'barn' %}"
               id="cottageTermsClose">
                OK
            </a>
        </div>
    </div>
</div>
<div id="cottageAccessModal" class="terms-modal">
    <div class="modal-content mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">The Barn - Access Statement</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            <b>Exposure:</b> The barn sits in a courtyard of former farm buildings. The
            rear garden backs onto a quiet no-through lane.
            <br><br>
            <b>Transport + Parking:</b> The site is within a mile of Goodwick town (shop,
            post office, pharmacy and railway station). There is level vehicular access
            and parking right to the front door.
            <br><br>
            <b>Front entrance door</b> is reached directly from the gravelled and level
            parking area, with one slate step up. It is 92cm wide with manual,
            colour&ndash;contrasted door handle at 105cm height and outside light.
            <br><br>
            <b>Rear entrance door</b> is reached across a gravelled path at the side of the
            barn which leads to the garden gate. The path is 90cm wide at its narrowest
            points while the gate is 100cm wide with a latch at 128cm above ground level.
            From there, a level block-paved path and one slate step give access to the rear
            door which is 80cm wide with manual, colour&ndash;contrasted door handle 100cm
            high and outside light.
            <br><br>
            <b>All rooms</b> are on ground&ndash;floor level with no steps or slopes. All
            doors are inward&ndash;opening with colour&ndash;contrasted handles 102cm above
            floor level. All light switches are 116cm above floor level and all power points,
            apart from those above kitchen units, are 50cm above floor level.
            <br><br>
            <b>Kitchen</b> surfaces and power points are at traditional cabinet height as is
            the cooking hob.
            <br><br>
            <b>Reception room</b> is open&ndash;plan and consists of the kitchen, dining and
            seating areas and has six double power points in addition to those in the kitchen.
            <br><br>
            <b>Bedroom 1</b> is a large room accessed via a door 82cm wide and there is
            wheelchair access to both sides of the double bed. There are three double power
            points.
            <br><br>
            <b>En suite bathroom,</b> off bedroom 1 has a door 67cm wide with a wheelchair
            accessible toilet and large, level walk-in shower, neither with support rails.
            <br><br>
            <b>Bedroom 2</b> is a compact room accessed via a door 66cm wide and has three
            double power points.
            <br><br>
            <b>Bathroom</b> is accessed by a door 66cm wide and has a corner toilet unit
            without support rails. The shower is over a standard bath which is not wheelchair
            accessible.
            <br><br>
            <b>Rear garden</b> has a level block&ndash;paved path and seating area. A short
            slope rises to a level grassy area with fencing and boundary bank.
            <br><br>
            <b>Information folder</b> includes user instructions for the appliances provided
            and details of local facilities and destinations.
            <br><br>
            <b>Miscellaneous:</b>. Owners live on site. Postcode is SA64 0HS but SatNav is
            likely to take you beyond the premises. There are the ruins of a Welsh Longhouse
            adjacent to the barn so care is needed with children as it is unstable. The drive
            from the road is shared with owners and their neighbours. Mobile phone signal is
            generally good; internet hub details are provided. Electricity and water are
            mains&ndash;supplied; cooking is by electricity; underfloor heating by oil boiler.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="modal-ok-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               href="{% url 'barn' %}"
               id="cottageAccessClose">
                OK
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script defer src="{% static 'scripts/cottages.js'%}"></script>
{% endblock %}
