{% extends "base.html" %}

{% block content %}
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--4dp">
            <div class="cottages-intro-card">
                We are currently working on Trefechan Wen Barn and hope to have it ready for holidays in 2019.
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
<div id="barnTermsModal" class="terms-modal">

</div>
<div id="barnAccessModal" class="terms-modal">

</div>
{% endblock %}