{% extends "base.html" %}

{% block header %}
{% with 'contact' as activeTab %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Contact</h2>
            </div>
            <div class="mdl-card__media">
                {% load static %}
                <img class="article-image" src="{% static 'images/lighthouse.jpg'%}" border="0" alt="">
            </div>
            <div class="mdl-card__supporting-text">
                <p>For general enquiries, or to book your stay, please contact us by one of the following means</p>
                <ul class='mdl-list'>
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">email</i>
                            <span>Email</span>
                            <span class="mdl-list__item-text-body">
                                <a href="mailto:cottage@trefechanwen.co.uk">cottage@trefechanwen.co.uk</a>
                            </span>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">phone</i>
                            <span>Phone</span>
                            <span class="mdl-list__item-text-body">
                                <a href="tel:+44-1348-873379">+44 1348 873379</a>
                            </span>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">mail_outline</i>
                            <span>Post</span>
                            <span class="mdl-list__item-text-body">
                                Julia & Dave Evans, Trefechan Wen, Llanwnda, Goodwick, Pembrokeshire, SA64 0HS.
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}