{% extends "base.html" %}

{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">COVID&ndash;19 Bulletin &mdash; Information for Guests.</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            <b>For your safety we have:</b><br>
            <ul>
                <li>Instigated a contact free &#39;meet and greet&#39;. The key for your
                    holiday home will either be in the door (inside) or, if you have let
                    us know you will be arriving late, underneath the pot outside the door.</li>
                <li>Stopped our custom of providing a &#39;welcome pack&#39;. We are sorry
                    about this but feel that it is safer for you.</li>
                <li>Delayed your arrival time to 5pm to allow us additional time for extra
                    cleaning between guests. If we have a mobile number we will send you a
                    text if you are able to come in before 5pm.</li>
                <li>Enhanced our cleaning routines. After our usual thorough clean of the
                    cottage, we will then pay special attention to items and areas which
                    receive frequent use, making use of an appropriate disinfectant. Where
                    possible we will leave windows open to allow for ventilation.</li>
                <li>Assisted our cleaning routines by removing some items e.g. ornaments,
                    board games, CDs, DVDs, magazines which are hard to clean adequately.</li>
                <li>Removed some items of crockery, cutlery and glassware if the numbers in
                    your party make this practical. This means we can quarantine them for a
                    week prior to your arrival. Please let us know if we have left you short.</li>
                <li>Reduced the number of cushions and soft furnishings so that those left
                    for you have been quarantined for a week. Apologies for the fact that
                    those provided might not match the decor&#33;</li>
                <li>Provided one set of cleaning materials for your holiday cottage (in the
                    cupboard under the kitchen sink) so that we can provide fresh bottles etc.
                    for each set of guests.</li>
                <li>Replaced the bottles of hand soap that we usually provide with small
                    &#39;guest&#39; bars of soap in the kitchen and bathrooms.</li>
                <li>Provided hand sanitiser near to the main entrance for your use in entering
                    your accommodation.</li>
                <li>Closed the bedroom door(s) before your arrival and would ask that you only
                    use the bedrooms that you need. If the second bedroom is not needed, please
                    leave the door closed. We will provide one set of towels (bath and hand towel)
                    for each guest that we know is coming. These will be inside the wardrobe by
                    the family bathroom (Barn) or in the bathroom (Cottage).</li>
            </ul>
            <br>
            <b>You might like to:</b><br>
            <ul>
                <li>Consider bringing extra bottles of hand sanitiser as we will provide one
                    bottle only. Sufficient supplies are not always easy to obtain locally.</li>
                <li>Consider bringing extra cleaning products, disinfectants, soaps, tissues,
                    rubber or disposable gloves etc. We will provide washing up liquid,
                    dish&ndash;washer tablets, some laundry products, general bathroom and kitchen
                    cleaners and toilet paper. Please remember that we have a septic tank system
                    at Trefechan Wen so items such as disposable wipes and large amounts of
                    disinfectants should not be put into the waste system.</li>
                <li>Consider bringing your own first aid kit.</li>
                <li>Check tourist information online. We have removed the leaflets as we cannot
                    clean them adequately and we are not sure of their accuracy. Good websites
                    include <a href="https://www.visitwales.com" target="_blank">www.visitwales.com</a> and
                    <a href="https://www.visitpembrokeshire.com" target="_blank">www.visitpembrokeshire.com</a>.
                    For the latest on local COVID&ndash;19 restrictions, check the Welsh Government
                    site or Pembrokeshire County Council site.</li>
                <li>Use books etc. at your own risk and leave on the table any you have used so
                    we can remove them for a week.</li>
            </ul>
            <br>
            <b>We would ask you please to:</b><br>
            <ul>
                <li>Advise us if any of your party are showing COVID&ndash;19 symptoms before you
                    arrive, upon arrival, at any time during your stay or upon departure.</li>
                <li>Advise us during your stay of any maintenance issues, breakages etc so we
                    can be ready to deal on changeover day &mdash; or sooner if urgent. We will
                    only come into your holiday accommodation to address any urgent issues after
                    discussion with you and with your prior agreement.</li>
                <li>On the morning of your departure, please strip the duvet covers, sheets and
                    pillowcases from the beds that you have used and place them, along with any
                    towels you have used in the orange bin liners provided. These bin liners will
                    be in the cupboard under the kitchen sink. Remove all refuse, recycling and
                    food waste to the outside bins and leave the indoor bins without liners.</li>
                <li>Please leave by 10 am to allow us to clean properly before our next arrivals&#59;
                    the key can be left inside the door.</li>
            </ul>
            <br>
            <b>Finally:</b><br>
            <ul>
                <li>We will inform you if we &mdash; or our daughter Jo who helps us at Trefechan Wen
                    &mdash; develop any symptoms of COVID&ndash;19 during your stay or if we have to
                    self&ndash;isolate due to having been in contact with anyone who has the virus.</li>
                <li>Apart from all that &mdash; we look forward to welcoming you to Trefechan Wen. We
                    hope you enjoy your stay in this lovely part of Wales. Please let us know if you
                    require any further information.</li>
            </ul>
            <br><br>
            Thank you.<br><br>
            Dave and Julia Evans
        </div>
    </div>
</div>
{% endblock %}