{% extends "base.html" %}

{% block header %}
{% with 'localinfo' as activeTab %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="location-facilities-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Local Facilities -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Local Facilities</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            <b>Goodwick</b> &mdash; post office, Tesco express, coffee shops and pubs.<br><br>
            <b>Fishguard</b> &mdash; Co&ndash;Op, bank, post office, shops, pubs, cafes, leisure centre and
            tourist information. The Theatr Gwaun, in Fishguard, is a community run venue for films and regular
            live events.<br><br>
            Pembrokeshire’s county town, Haverfordwest, is about 16 miles away and has a range of shops and
            supermarkets.<br><br>
            Asda and Tesco deliver groceries locally. There are tourist information centres in Fishguard and
            St David’s.
        </div>
    </div>
    <div class="location-eating-out-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Eating Out -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Eating Out</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            There are several places to eat out in the local area. Fish and chips are available in Goodwick and
            Fishguard, as are pubs and cafes. Our guests frequently recommend places to enjoy a meal out in
            the visitor book in the Cottage and some local hostelries get mentioned on a regular basis.
            <a href="http://www.dogfriendlyuk.co.uk/category/dog-friendly-pubs/location/wales/pembrokeshire/" target="_blank">
                Dog friendly</a> eating places are available too.
        </div>
    </div>
    <div class="location-festivals-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Local Festivals -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Local Festivals</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            There are several festivals and special events in the local area. The Fishguard Folk festival
            in May, Pembrokeshire Fish week in June, Pembrokeshire County Show and Cardigan River and Food
            festival in August are just a few. A list is included in the information folder in the cottage.
        </div>
    </div>
    <div class="location-info-provided-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
        <!-- Information Provided -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Information provided to guests</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
            Tourist information &mdash; lots of leaflets<br>
            Walks from the door<br>
            Information for walkers and cyclists<br>
            Tide tables &mdash; we provide a copy of the tide tables for the week<br>
            List of festivals<br>
            Visitor books with guest recommendations<br>
        </div>
    </div>
</div>
{% endblock %}